body{
    background-color:#eee;
    color:darkblue;
    text-align: center;
   
}
.container{
    margin: 15%;
    
 
}

@media only screen and (max-width: 500px) {  
    h1{
      font-size: 100%;
        border: dotted;
        
    }
    label{
        font-size: 100%;
        display: inherit;
    }
    
}  

